In [1]:
import pandas as pd

In [9]:
url = 'https://www.spotrac.com/nba/cap/2020/'

In [10]:
df = pd.read_html(url)
df[0].head(20)

,Rank,Team,Win%,Signed,Avg Age,Active Cap,Active Cap (Top 3),Dead Cap,Total Cap,Cap Space*,Hard-Capped
0,1,New York KnicksNYK,0.569,15,25.5,"$81,511,334","$36,704,687","$20,050,487","$101,969,879","$7,170,121",NaN
1,2,Oklahoma City ThunderOKC,0.306,15,23.3,"$58,973,451","$35,511,690","$35,826,984","$104,570,165","$4,569,835",NaN
2,3,Charlotte HornetsCHA,0.458,15,24.5,"$98,277,101","$62,815,730","$8,856,969","$107,134,070","$2,005,930",NaN
3,4,Detroit PistonsDET,0.278,15,24.1,"$76,325,187","$39,650,000","$38,608,232","$115,131,459","$-5,991,459",NaN
4,5,Atlanta HawksATL,0.569,15,25.5,"$115,950,371","$55,000,000","$744,684","$116,695,055","$-7,555,055",NaN
5,6,Orlando MagicORL,0.292,15,24.0,"$109,369,134","$61,149,952","$4,206,600","$118,898,403","$-9,758,403",NaN
6,7,Sacramento KingsSAC,0.431,15,24.5,"$93,805,708","$56,187,760","$11,074,791","$121,237,049","$-12,097,049",NaN
7,8,Dallas MavericksDAL,0.583,15,26.9,"$124,194,840","$61,456,500","$1,620,564","$125,815,404","$-16,675,404",NaN
8,9,Cleveland CavaliersCLE,0.306,15,24.5,"$95,788,697","$55,217,347","$30,063,260","$126,527,288","$-17,387,288",NaN
9,10,Chicago BullsCHI,0.431,15,26.6,"$127,968,089","$59,045,000","$97,261","$128,065,350","$-18,925,350",NaN
10,11,Indiana PacersIND,0.472,15,25.9,"$125,044,311","$58,500,000","$3,763,381","$129,005,732","$-19,865,732",NaN
11,12,Houston RocketsHOU,0.236,15,26.5,"$121,883,222","$71,140,070","$5,955,576","$129,533,390","$-20,393,390",NaN
12,13,Phoenix SunsPHX,0.708,15,26.7,"$126,329,911","$80,844,814","$785,285","$130,285,572","$-21,145,572",NaN
13,14,Boston CelticsBOS,0.500,15,24.5,"$127,473,888","$75,266,600","$3,293,857","$130,767,745","$-21,627,745",NaN
14,15,Denver NuggetsDEN,0.653,15,26.2,"$126,468,408","$74,963,374","$2,000,000","$131,820,534","$-22,680,534",NaN
15,16,New Orleans PelicansNOP,0.431,15,24.1,"$131,561,774","$73,752,695","$721,484","$132,616,252","$-23,476,252",NaN
16,17,Milwaukee BucksMIL,0.639,15,27.4,"$126,409,299","$87,605,923","$6,815,046","$133,224,345","$-24,084,345",NaN
17,18,Memphis GrizzliesMEM,0.528,15,24.0,"$96,358,089","$39,400,000","$34,424,113","$134,245,326","$-25,105,326",NaN
18,19,Portland Trail BlazersPOR,0.583,14,25.8,"$125,356,909","$73,869,994","$4,757,775","$135,448,164","$-26,308,164",NaN
19,20,Miami HeatMIA,0.556,15,28.5,"$126,766,607","$73,379,100","$5,564,670","$135,572,405","$-26,432,405",NaN

In [12]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

# setup chrome browser to run splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 106.0.5249
Get LATEST chromedriver version for 106.0.5249 google-chrome
There is no [win32] chromedriver for browser 106.0.5249 in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/106.0.5249.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\ejwda\.wdm\drivers\chromedriver\win32\106.0.5249.61]

In [18]:
table = browser.find_by_tag('tbody')

In [19]:
table.text

'30 Golden State Warriors\n0.542 15 26.0 $168,454,133 $107,909,732 $666,667 $175,825,052 $-66,685,052\n29 Brooklyn Nets\n0.667 15 27.9 $164,541,070 $115,086,720 $1,647,801 $168,550,487 $-59,410,487\n28 Washington Wizards\n0.472 15 26.0 $125,335,449 $85,110,588 $4,111,817 $160,772,292 $-51,632,292\n27 Minnesota Timberwolves\n0.319 14 23.6 $128,979,723 $75,117,050 $685,340 $159,195,461 $-50,055,461\n26 San Antonio Spurs\n0.458 15 25.3 $103,942,196 $56,525,975 $24,693,679 $150,150,620 $-41,010,620\n25 Philadelphia 76ers\n0.681 15 27.3 $144,302,328 $94,460,060 $1,642,981 $147,787,869 $-38,647,869\n24 Toronto Raptors\n0.375 15 26.4 $121,179,805 $82,309,200 $6,608,000 $143,726,386 $-34,586,386\n23 Utah Jazz\n0.722 15 27.2 $135,162,144 $79,877,413 $770,433 $138,998,838 $-29,858,838\n22 Los Angeles Lakers\n0.583 15 28.9 $129,324,500 $87,961,566 $7,377,245 $138,544,305 $-29,404,305\n21 Los Angeles Clippers\n0.653 15 28.6 $137,010,779 $84,713,233 - $137,405,301 $-28,265,301\n20 Miami Heat\n0.556 15 28.5 $126,766,607 $73,379,100 $5,564,670 $135,572,405 $-26,432,405\n19 Portland Trail Blazers\n0.583 14 25.8 $125,356,909 $73,869,994 $4,757,775 $135,448,164 $-26,308,164\n18 Memphis Grizzlies\n0.528 15 24.0 $96,358,089 $39,400,000 $34,424,113 $134,245,326 $-25,105,326\n17 Milwaukee Bucks\n0.639 15 27.4 $126,409,299 $87,605,923 $6,815,046 $133,224,345 $-24,084,345\n16 New Orleans Pelicans\n0.431 15 24.1 $131,561,774 $73,752,695 $721,484 $132,616,252 $-23,476,252\n15 Denver Nuggets\n0.653 15 26.2 $126,468,408 $74,963,374 $2,000,000 $131,820,534 $-22,680,534\n14 Boston Celtics\n0.500 15 24.5 $127,473,888 $75,266,600 $3,293,857 $130,767,745 $-21,627,745\n13 Phoenix Suns\n0.708 15 26.7 $126,329,911 $80,844,814 $785,285 $130,285,572 $-21,145,572\n12 Houston Rockets\n0.236 15 26.5 $121,883,222 $71,140,070 $5,955,576 $129,533,390 $-20,393,390\n11 Indiana Pacers\n0.472 15 25.9 $125,044,311 $58,500,000 $3,763,381 $129,005,732 $-19,865,732\n10 Chicago Bulls\n0.431 15 26.6 $127,968,089 $59,045,000 $97,261 $128,065,350 $-18,925,350\n9 Cleveland Cavaliers\n0.306 15 24.5 $95,788,697 $55,217,347 $30,063,260 $126,527,288 $-17,387,288\n8 Dallas Mavericks\n0.583 15 26.9 $124,194,840 $61,456,500 $1,620,564 $125,815,404 $-16,675,404\n7 Sacramento Kings\n0.431 15 24.5 $93,805,708 $56,187,760 $11,074,791 $121,237,049 $-12,097,049\n6 Orlando Magic\n0.292 15 24.0 $109,369,134 $61,149,952 $4,206,600 $118,898,403 $-9,758,403\n5 Atlanta Hawks\n0.569 15 25.5 $115,950,371 $55,000,000 $744,684 $116,695,055 $-7,555,055\n4 Detroit Pistons\n0.278 15 24.1 $76,325,187 $39,650,000 $38,608,232 $115,131,459 $-5,991,459\n3 Charlotte Hornets\n0.458 15 24.5 $98,277,101 $62,815,730 $8,856,969 $107,134,070 $2,005,930\n2 Oklahoma City Thunder\n0.306 15 23.3 $58,973,451 $35,511,690 $35,826,984 $104,570,165 $4,569,835\n1 New York Knicks\n0.569 15 25.5 $81,511,334 $36,704,687 $20,050,487 $101,969,879 $7,170,121'

In [20]:
year = browser.find_by_name('year')
year.text

'                      2025-2026\n                      2024-2025\n                      2023-2024\n                      2022-2023\n                      2021-2022\n                      2020-2021\n                      2019-2020\n                      2018-2019\n                      2017-2018\n                      2016-2017\n                      2015-2016\n                      2014-2015\n                      2013-2014\n                      2012-2013\n                      2011-2012\n                     '

In [26]:
for i in year.find_by_text('2022-2023'):
    print(i)

<splinter.driver.webdriver.WebDriverElement object at 0x000001F6DB77BA90>

In [ ]:
browser.links.find_by_text().click()